/* @import url("https://fonts.googleapis.com/css?family=Inconsolata:italic&display=swap"); */

html {
    background-image: url("https://images.unsplash.com/photo-1556767223-80843e91e7d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
 
#nav {
  font-family: Impact, Charcoal, sans-serif;
  color: whitesmoke;
}

#Me {
    font-family: "Inconsolata";
    font-size: 300%;
    color: #CC0000;
    position: absolute; 
    bottom: 0px;
}

#Mason {
  font-family: "Inconsolata";
  color: #FF4F00;
}

#Morey {
  color: #FF4F00;
}

#Web-Developer {
  color: #D2691E;
}

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap"); */

