body {
    background-image: url("https://images.unsplash.com/photo-1556767223-80843e91e7d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

 
#Nav-Items {
color: whitesmoke;
}

#Me {
    color: whitesmoke;

}

